[2013-08-01 16:04] geoff-kramer opened #7 "mbeans as Arrays"
so I have an mBean in a proprietary app that has a value of long[60], When I poll this with jmxtrans I get the whole array, which is not ideal, but ok.  Using the jmxtrans-agent the output to the graphite writer looks like:

query.test [J@6987d334 1375372603

on a side note, sending one value of the array would be super for both.

[2013-08-03 23:03] cyrille-leclerc opened #11 "Introduce 'query.position' config for multi-valued attributes (arrays and iterables)"
Introduce `query.position` configuration for multi-valued attributes (arrays and iterables) to specify which entry will be outputted in the writers.

If `position` is not specified, all the values of the attribute are outputted with the name `${resultAlias}_${position}`.

[2013-08-03 23:03] #11 closed, assigned to cyrille-leclerc

[2013-08-05 15:11] #7 closed, assigned to nobody

[2013-08-05 15:23] geoff-kramer opened #12 "Collection Interval"
Found it in the code, but thought it might be useful for the docs since i have my graphite resolution at 1 minute

<collectIntervalInSeconds>60</collectIntervalInSeconds>

thanks for doing an amazing job with this project.

[2013-08-05 15:24] #12 closed, assigned to nobody

[2013-08-19 14:38] cyrille-leclerc opened #16 "Expression language for result alias"
Introduce expression language with:
- Functions (e.g. `#hostname#`)
- ObjectName properties (e.g. `%name%`)

Docs: https://github.com/jmxtrans/jmxtrans-agent/wiki/Expression-Language

Sample:

[code]

Should match ObjectName:

[code]

And `resultAlias` should be:

[code]

[2013-08-19 14:40] #16 closed, assigned to cyrille-leclerc

[2013-08-19 14:41] cyrille-leclerc opened #17 "Add PerMinuteSummarizerOutputWriter to aggregate per minute values"

[2013-08-28 21:47] #17 closed, assigned to cyrille-leclerc

[2013-08-28 21:49] cyrille-leclerc opened #18 "Regression: key name is appended to the result alias"
For metrics based on CompositeData keys, the key name is appended to the alias specified with resultAlias configuration.

[2013-08-28 21:50] #18 closed, assigned to cyrille-leclerc

[2013-11-25 09:34] adfel70 opened #20 "Configuring jmxtrans-agent.xml with jvm MemoryPool beans"
Hi,

I am trying to send some beans related to the memory pool, but I do not get them, so my guess is I am doing something wrong in the jmxtrans-agent config file (other beans does received): The beans are in the form of:

<query objectName="java.lang:type=MemoryPool,name=XXX"  attribute="CollectionUsage" key="used" resultAlias="jvm.memoryPool.XXX.collectionUsage.used" />

where XXX is one of {"Ed

[2013-11-29 04:32] playerjamesbattleground opened #21 "activemq query exampl"
Hello mate,

This tool is awsome in our use case where we retrieving metric data from application jvm and feed into graphite.

Just wondering if you could provide us an example for querying ActiveMQ? such as listing every queue sizes (Enqueue count?) .

Thanks again

James

[2013-12-02 08:51] #21 closed, assigned to nobody

[2013-12-02 23:38] playerjamesbattleground opened #22 "Is this possible to use wildcard search?"
For example, I am querying activemq and want to have a list of queues back, and in graphite, I want to see them in their respective treeview folders with meaningful hierarchy.
is this possible to do with jmxtrans-agent?

Regards

[2013-12-09 12:00] #22 closed, assigned to nobody

[2014-03-04 02:20] johntdyer opened #24 "Support for influxDB"
It would be great if you guys supposed influxDB

http://influxdb.org/
https://github.com/novaquark/metrics-influxdb

[2014-10-23 19:45] zbintliff opened #25 "RollingFileOutputWriter"
Hey,
I wrote a RollingFileOutputWriter.  It acts very much like a log4j log.  It has the following parameters:
-  [RollingFileOutputWriter](https://github.com/zbintliff/jmxtrans-agent/blob/master/src/main/java/org/jmxtrans/agent/RollingFileOutputWriter.java)
  - `<fileName>`  is the file you want to write to.
  - `<maxFileSize>` is the maximium size in mb before file rolls over.  It is optional.

[2014-11-02 22:01] #25 closed, assigned to nobody

[2014-12-17 09:45] nickm4062 opened #28 "Add the sensuwriter"
It would be useful to have the sensuwriter available in the agent

[2015-01-23 17:07] cyrille-leclerc opened #30 "LibratoWriter includes descriptive User-Agent"
Copy of https://github.com/jmxtrans/embedded-jmxtrans/issues/85

@mheffner said

[2015-01-23 17:07] cyrille-leclerc commented on #30
See https://github.com/jmxtrans/embedded-jmxtrans/commit/b81845ad05529d77142cc5c572ef3604480ed073

[2015-01-23 17:12] cyrille-leclerc commented on #30
oops jmxtrans-agent does not yet have a LibratoWriter.

[2015-01-23 17:12] #30 closed

[2015-02-27 21:19] braunreyes opened #32 "Configuring JmxTrans Agent to pull from custom diagnostic jmx connection provided by jasperserver reports"
jaspserserver reports allows access to diagnostic information via jmx through a custom URL

service:jmx:rmi://localhost/jndi/rmi://<host>:10990/jasperserver

when using this via jconsole or java mission control you need to provide a username and password for the application.

Is there a way to add this into the jmxtrans config to access this type of data?

thanks we really love this agent

[2015-02-27 21:25] gehel commented on #32
Sounds more like a question for the [JmxTrans google group](https://groups.google.com/forum/#!forum/jmxtrans). That being said, if you use the JmxTrans agent, it should be able to retrieve information without authentication as it is running in the same JVM (I have not actually checked this, but fairly sure it is the case: `PlatformMBeanServer` is used in [JmxTransExporter](https://github.com/jmxtr

[2015-02-27 22:15] braunreyes commented on #32
thanks....opened up the diagnostic jmx to platformMBeanServer and it displays just like everything else....I will remember to put this stuff on the group from now on.

[2015-05-26 20:21] maheshkelkar opened #34 "Export everything if the query does not define attribute or key to collec"
As discussed in pull request #29 by @cyrille-leclerc and @petermodzelewski, creating an issue to allow support for:

Adding more power for XML configuration
* adding support for ALL attributes, when no attribute is specified
* adding support for ALL keys, when no key is specified for CompositTypes

Following changes were made as a result:
* Allow null attribute
* Method `getResultName()` in `Resul

[2015-05-26 21:35] #34 closed

[2015-05-27 12:57] maheshkelkar opened #36 "Add JConsoleNameStrategyImpl for generating simple names like JConsole or VirtualVM does"
As discussed in pull request #29 by @cyrille-leclerc and @petermodzelewski, creating an issue to allow support for: Builds names with general rules like JConsole / VisualVM do.
i.e. \<domain-name\>.\<property-name\>\<property-name\>
E.g. For objectName "type:name=metric,value=bar" => getResultName() will return resultName = "type.metric.bar"

Sponsored by: Lookout, Inc.

[2015-05-27 15:44] maheshkelkar opened #38 "Question: 2 Query constructors assume attribute name as the resultAlias"
Following 2 constructors for `Query` assume `resultAlias` as the `attributeName`.

This works fine if we are polling limited set of attributes and attribute names are self-explanatory. However, with the #34 we are allowing capability to export all the attributes and that IMO makes this assumption unnecessary.

If user does not specify the `resultAlias`, then we can rely on ResultNameStrategy to ge

[2015-05-27 15:45] maheshkelkar commented on #38
@cyrille-leclerc please let me know your thoughts on this.

[2015-05-27 16:02] maheshkelkar opened #39 "Append attribute and/or compositeData key name to the resultAlias"
The following query exports all the attributes of the given objectName:
`<query objectName="java.lang:type=Memory" resultAlias="my.localmachine"/>`

This query, generates the following output:
[code]
It uses the `resultAlias` for all the exported attributes, which makes it impossible to distinguish:

Instead the jmxtrans-agent should append the attribute and compositeDataKey (if applicable) to the

[2015-06-01 14:18] maheshkelkar opened #41 "Refactoring directory structure"
Currently all the files/modules are located in top package level `agent` directory.

@cyrille-leclerc let me know if you are ok if I restructure the modules into separate directories? It will really help with manageability.

E.g.
com.jmxtrans.agent
* util - contains utility (as-is)
* outputWriter - contains abstract & derived writers
* resultNameStrategy - contains result name transform code (as-i

[2015-06-01 19:56] maheshkelkar commented on #39
Closed in error

[2015-06-01 19:57] maheshkelkar opened #42 "ResultName for Iterable Attrbiute is artificially modified"
@cyrille-leclerc At the following location, resultName is artificially modified after it is computed by the ResultNameStrategy:

https://github.com/jmxtrans/jmxtrans-agent/blob/master/src/main/java/org/jmxtrans/agent/Query.java#L203

In reality, we should let the resultName strategy take care of it.

It was one of the purposes of issue 39.

[2015-06-04 09:51] cyrille-leclerc commented on #38
@maheshkelkar I am super busy with my day job (CloudBees).

Can you be patient? I could more easily work on this next week.

Sorry, Cyrille

[2015-06-04 13:11] maheshkelkar commented on #38
@cyrille-leclerc Sure, I understand. But, whenever you take a look, please respond to all the issues & pull requests (i.e. in bulk), so that we can make good progress.

Also, dont forget about it :)

[2015-08-03 11:13] NGough34 opened #44 "Add support for statsd gauge bucket in statsd output writer"
Statsd allows for collection of stats in a few different data types: https://github.com/etsy/statsd/blob/master/docs/metric_types.md

I propose adding a bucketType field to the statsd output writer to allow configuring these different types of buckets - particularly the GAUGE type.

Is there any reason this hasn't been implemented? I can see in the code it is hardcoded to COUNT type.

I have imple

[2015-08-04 11:02] cyrille-leclerc commented on #44
Thanks @NGough34, you are right, I don't see any reason why we could not support GAUGE as well.

[2015-08-21 10:08] shentaosky opened #47 "Add Multi Column Values to influxDB"
I use JMX-Agent GraphitePlainTextTcpOutputWriter.java writing values into influxDB, but I find just insert one column, and I see the Graphite demands the Message Format is "metric_path value timestamp\n". So how could I insert multi column into influxDB.

[2015-09-21 11:26] tkuther commented on #47
The graphite protocol does not support multi-*field* data (in InfluxDB terms). But the InfluxDB graphite input in version 0.9.1+ does allow for defining a template, so you can add *tags* (which are "columns", too). So it depends on what you mean with "colums", maybe give an example of what you're trying to achieve.

[2015-11-21 15:42] trikosuave opened #50 "Retry connection"
We have a DNS endpoint that contains multiple IP addresses to our KairosDB servers. These servers can change at any given time, but will update DNS as new ones come online.
Taking Cassandra as an example, when cassandra starts it checks the dns entry and gets an IP address and uses that to connect jmxtrans-agent. If that IP becomes no longer available, I get a "broken pipe" and it retries that sam

[2015-11-22 14:39] cyrille-leclerc commented on #50
Hi @trikosuave, I am surprised because jmxtrans-agent is supposed to handle changes of domain-name to ip-address mappings.

Can you share with us more details?

* Which OutputWriter are you using? (see [GraphitePlainTextTcpOutputWriter#ensureGraphiteConnection()](https://github.com/jmxtrans/jmxtrans-agent/blob/jmxtrans-agent-1.2.0/src/main/java/org/jmxtrans/agent/GraphitePlainTextTcpOutputWriter.j

[2015-12-02 07:31] kerlandsson opened #51 "LibratoMetricsIntegrationTest fails when building current master"
When building the current master branch the build fails on `LibratoMetricsIntegrationTest`. Both tests in that class fail in the `@Before` method with the following error:

[code]

In `librato-config.template.properties` it says:

Am I expected to do that myself to get the build to pass? If so, I suggest changing that behavior so that the project can be built from source without modifications.

[2015-12-02 09:19] #51 closed

[2015-12-02 09:20] cyrille-leclerc commented on #51
Thanks @kerlandsson. It should be fixed. I made "Integration Tests as First Class Citizen".

[2015-12-07 10:11] cyrille-leclerc commented on #50
Hello @trikosuave did you see my notes?

[2015-12-07 12:25] kerlandsson opened #56 "Support for different collect intervals"
We would like to collect some of our metrics more frequently than others. Hence we would like support for specifying different collect intervals.

If we can agree on how it should work we are prepared to implement it. The most simple solution I see is to allow for an override on `query` and `invocation` elements:

[code]

This override would be used when specified. The default would be used for qu

[2015-12-07 12:44] kerlandsson opened #57 "Dynamic reload of configuration"
It would be awesome if the configuration could be dynamically reloaded. It would make the agent much more flexible in long-running applications.

I suggest adding a `<reloadConfigurationOnChanges>true/false</reloadConfigurationOnChanges>` element. Defaults to `false`.

Enabling this would re-initialize the `JmxTransExporter` when changes are detected in the configuration file.

I can see some issu

[2015-12-07 12:59] cyrille-leclerc commented on #57
Good idea, we could look at https://github.com/jmxtrans/embedded-jmxtrans/blob/696645d866ff681be52d083174e587fca73263b5/src/main/java/org/jmxtrans/embedded/spring/EmbeddedJmxTransFactory.java#L93

[2015-12-28 06:13] bmmchugh commented on #50
I've submitted a pull request #62 for this issue.

[2016-01-05 08:53] flisky commented on #50
Hi @cyrille-leclerc ,

Here is the stacktrace. This problem happened to me.

[code]

[2016-01-05 15:27] cyrille-leclerc commented on #50
Thanks @flisky!

@trikosuave I am closing this ticket as #62 has been merged.

[2016-01-05 15:27] #50 closed

[2016-02-01 08:08] kerlandsson commented on #57
@cyrille-leclerc I noticed that you did some refactoring on this. In my PR I checked the actual contents of the document to see if configuration is changed, supporting files exposed via HTTP as well. Now the modified date is checked instead and configuration exposed via HTTP is never reloaded (if I understand correctly). What were the reasons for this change?

[2016-02-01 08:20] cyrille-leclerc commented on #57
Hello @kerlandsson,

I wanted to match Spring Framework's [Resource](http://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/core/io/Resource.html) API and its [lastModified()][http://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/core/io/Resource.html#lastModified--] method.

I did not catch you were using this feature with HTTP. I'll add support ASAP for [HT

[2016-02-01 08:24] kerlandsson commented on #57
@cyrille-leclerc Ok, I understand. We are not actually using it so nothing is broken for us. I was mostly curious why the change was made.

[2016-02-01 10:01] cyrille-leclerc commented on #57
Thanks @kerlandsson, I forgot to mention that I feel it's good to process to simple `touch` as a request to reload the configuration.

[2016-02-01 10:10] cyrille-leclerc commented on #57
@kerlandsson please check with 1.2.2 to see if we can close this issue.

[2016-02-01 10:26] #57 closed

[2016-02-04 15:22] kerlandsson commented on #56
@cyrille-leclerc I am probably going to work on this shortly. What are your thoughts? I'm leaning towards supporting a `collectIntervalInSeconds` override on query/invocation elements.

[2016-02-04 15:54] cyrille-leclerc commented on #56
Thanks!

FYI I am working on introducing the Resource API (HTTP, Classpath & File
System).

Cyrille

On Thu, Feb 4, 2016 at 4:22 PM, Kristoffer Erlandsson <
notifications@github.com> wrote:

--
Cyrille Le Clerc
email & gtalk : cleclerc@cloudbees.com / mob: +33-6.61.33.69.86 / skype:
cyrille.leclerc
CloudBees, Inc
www.cloudbees.com

[2016-02-25 13:19] kerlandsson opened #71 "Min/avg/max aggregation?"
The use case is as follows:

When polling values it is easy to miss spikes for things such as CPU utilization or memory usage. The obvious fix when using polling is to poll more frequently. However, as jmxtrans-agent is built now, that also means metrics are sent to the backend more frequently, which results in increased load and storage requirements.

Hence it would be useful to be able to poll v

[2016-02-29 09:41] cyrille-leclerc commented on #71
Hi @kerlandsson,

Preliminary note:  should we move this discussion to https://groups.google.com/forum/#!forum/jmxtrans ?

I have initiated this kind of aggregation work in the [PerMinuteSummarizerOutputWriter](https://github.com/jmxtrans/jmxtrans-agent/blob/master/src/main/java/org/jmxtrans/agent/PerMinuteSummarizerOutputWriter.java) (I should have javadoc this class more). The idea of this class

[2016-03-01 11:47] kerlandsson commented on #71
@cyrille-leclerc I didn't know there was a google group, cool! I'm fine with moving discussions like this to that group, if you think they are better suited there? I guess the chances for more feedback are greater there.

[2016-03-06 22:23] cyrille-leclerc commented on #71
Hi @kerlandsson, sorry I am very busy these days. Yes you could get more feedbacks on Google Groups.

[2016-03-14 14:44] simmel opened #74 "Basic function support in outputwriter configuration"
I've configured my `outputWriter` to:
[code]
but what I receive is:
[code]

Are basic functions supposed to work in the `outputWriter` config?

[2016-03-14 15:17] cyrille-leclerc commented on #74
@simmel you are right, functions are not evaluated in the output writer config.

It would be a nice feature to add. Note that @kerlandsson have already added the `PropertyResolver` mechanism for the outputwriter config sections.

In the meantime, a solution may be to define this fragment in the `resultAlias` definition.

https://github.com/jmxtrans/jmxtrans-agent/blob/5f882a9e98c6ae0018018115d657a

[2016-03-14 15:23] simmel commented on #74
On Mon, 2016-03-14 at 08:17:12 -0700, Cyrille Le Clerc wrote:

Yes, that's currently what we use today (Basically produce an ENV var
with the value of `#escaped_canonical_hostname#` and use that).

Can I rename this issue to be a feature request for basic function
support in the outputwriter section or do you want another one for that?

Agreed, but messy. Since we already have the ENV var in place

[2016-03-15 07:53] cyrille-leclerc commented on #74
Thanks @simmel

[2016-04-29 14:12] johnrengelman commented on #24
However the graphite connector is unsecured...would be nice to write using the influx protocol so you can add auth/auth to it.

[2016-05-02 07:17] kerlandsson commented on #24
Agreed, we should aim for native Influx support. Using the Graphite connector puts a lot of responsibility in configuring the metric tags and fields on on the connector configuration, something that I think should belong in jmxtrans-agent instead.

[2016-05-02 07:20] kerlandsson commented on #47
I'm closing this. The proper solution is to implement native Influx support - #24.

[2016-05-02 07:20] #47 closed

[2016-05-02 07:21] #56 closed

[2016-05-02 07:21] kerlandsson commented on #56
Implemented in 1.2.3.

[2016-05-02 07:25] kerlandsson commented on #41
Cleaning up the directory structure would be appreciated. However, since several classes are referenced by qualified name in the configuration (e.g. output writers) file we cannot move them without breaking backwards compatibility.

[2016-05-02 07:26] #20 closed

[2016-05-02 08:01] #32 closed

[2016-05-06 12:17] kerlandsson commented on #36
From what I can tell this is is now implemented so I'm closing this. Please reopen if I misunderstand.

[2016-05-06 12:17] #36 closed

[2016-05-10 13:48] unixninja92 opened #77 "jmxtrans-agent crashes when graphite receiver disappears"
I have jmxtrans-agent sending graphite to influxdb, but if the influxdb server ever goes away or is switched out, jmxtrans-agent crashes and has to be restarted to start sending data again. It would be nice if it tried reconnecting and possibly even buffering data until it could send graphite data again.

[2016-05-10 13:58] cyrille-leclerc commented on #77
Hello @unixninja92 can you detail more please? What do you mean by "crash", I suspect that it's not killing the JVM, I suspect that you mean that it does not recover.
Do you have log messages, can you share the configuration details?

[2016-05-10 19:32] unixninja92 commented on #77
right, it's not recovering. Here is the stacktrace:
`at java.net.SocketOutputStream.write(SocketOutputStream.java:159)
at sun.nio.cs.StreamEncoder.writeBytes(StreamEncoder.java:221)
at sun.nio.cs.StreamEncoder.implFlushBuffer(StreamEncoder.java:291)
at sun.nio.cs.StreamEncoder.implFlush(StreamEncoder.java:295)
 at sun.nio.cs.StreamEncoder.flush(StreamEncoder.java:141)
 at java.io.OutputStreamWrite

[2016-05-10 19:38] unixninja92 commented on #77
relevant config (minus queries section):
`<outputWriter class="org.jmxtrans.agent.GraphitePlainTextTcpOutputWriter">
        <host>influxdb.DOMAIN.com</host>
        <port>2003</port>
        <namePrefix>{{Service}}.{{Environment}}.{{VPC}}.${HOSTNAME}.</namePrefix>
    </outputWriter>
    <collectIntervalInSeconds>10</collectIntervalInSeconds>`

[2016-05-11 12:14] kerlandsson commented on #77
@unixninja92 You are missing the top of the stack trace, could you please post the entire trace?

Also, when you say it is not recovering - what is logged after this error occurs?

Would it be possible to attach the complete log file?

[2016-05-11 18:06] unixninja92 commented on #77
@kerlandsson I'm getting this log from aws cloudwatch, I'll see if I can find the top. And after, it just stops logging from what I can tell.

[2016-05-11 18:15] unixninja92 commented on #77
The line in the log just above the stack trace is:
`09 May 2016 14:27:20.564 INFO : Authentication Exception: Failed login attempt for user 'XXXXXX' (Invalid username or password) from XXX.XXX.XXX.XXX`

but that's from our program, not from jmxtrans-agent. There is a blank log line (contains only a space) right above that though, so maybe that's where something  is supposed to be? But there isn't

[2016-05-11 18:29] unixninja92 commented on #77
The other instances of the same service all running jmxtrans-agent don't have any stacktraces from jmxtrans-agent, they just stopped reporting to influx.

[2016-05-19 07:34] bl1nk opened #78 "Config reload does not report new metrics"
hey there,

This is the config file we use:
[code]

We use this script as a cronjob to update the config:
[code]

Problem is that the config file does not get reloaded or is not adding new queries to be reported to our influxdb. Re-deploying the service makes reporting work. The config file definitely gets updated by the cronjob.

What could be the problem here?

[2016-05-19 07:48] kerlandsson commented on #78
Could you post the agent part of your command line? Is anything logged (to stdout) from jmxtrans-agent in the minutes after you have touched the configuration?

[2016-05-19 07:51] kerlandsson commented on #78
Also, if you could post what jmxtrans-agent logs at startup it would help.

[2016-05-19 07:54] cyrille-leclerc commented on #78
Hi, to add to @kerlandsson comments, could you please activate:

* jmxtrans-agent diagnosis: https://github.com/jmxtrans/jmxtrans-agent/wiki/Troubleshooting#enabling-jmxtransagent-diagnostic-info
* jmxtrans-logs: https://github.com/jmxtrans/jmxtrans-agent/wiki/Troubleshooting#enabling-logs

[2016-05-19 08:00] cyrille-leclerc commented on #78
@kerlandsson note: it may make sense to add a debug line to dump the new configuration with a `TRACE` log message at https://github.com/jmxtrans/jmxtrans-agent/blob/95915e1b639f25539e1cc4ec898e1b2868f997d3/src/main/java/org/jmxtrans/agent/JmxTransExporter.java#L74-L74

The method `JmxTransExporterConfiguration.toString()` dumps everything.

what do you think?

[2016-05-19 08:35] kerlandsson commented on #78
@cyrille-leclerc Makes sense. I went ahead and added it: 47f8efbbf4489459c4547519f70265b1850cfbad

[2016-05-19 08:46] cyrille-leclerc commented on #78
@bl1nk we have deployed a new snapshot with @kerlandsson's improvement.

Could you test with it?

https://oss.sonatype.org/content/repositories/snapshots/org/jmxtrans/agent/jmxtrans-agent/1.2.4-SNAPSHOT/jmxtrans-agent-1.2.4-20160519.084523-1.jar

[2016-05-19 11:15] kerlandsson commented on #77
I did some tests on my end and the `GraphitePlainTextTcpOutputWriter` reconnects as expected for me. I even added an automatic test to verify it reconnects.

From your stack trace it seems you are not using one of the more recent versions. What version are you using?

I suggest you upgrade to the latest release of jmxtrans-agent. If you still suffer this problem, try enabling trace logging as deta

[2016-05-19 13:21] bl1nk commented on #78
I've deployed a service with your new jmxtrans agent and with logging and diagnosis enabled. I removed a query from my jmxtrans config and it stopped reporting metrics for that query. After adding the query to my config jmxtrans started reporting metrics again, logs confirm both of this.

I would close this... for now. It didn't work with another query before, but I can't reproduce it.
Thanks for

[2016-05-19 13:57] kerlandsson commented on #78
I'm happy it is resolved! It might have been that you used a too old version - the configuration reload functionality is quite new.

[2016-05-19 13:57] #78 closed

[2016-05-19 14:01] bl1nk commented on #78
We have been using 1.2.0 before, I just updated to 1.2.3

[2016-05-20 12:24] kerlandsson commented on #74
This is now implemented in commit 9d745c9503da54ca5af984be87e73c3b6faaa9fc.

@cyrille-leclerc a review of the (quite small) change would be appreciated.

@simmel if you are able to build the current master, test it and let me know how it works for you.

[2016-05-20 12:30] cyrille-leclerc commented on #74
9d745c9 looks good to me! Tahnks

[2016-05-20 13:43] simmel commented on #74
Works perfectly!

Thank you so much for this! Have a great weekend both of you!

[2016-05-20 13:43] #74 closed

[2016-05-20 13:43] simmel commented on #74
Also, when is the next release coming? = D

[2016-05-25 11:27] kerlandsson commented on #42
From what I can tell this was fixed a long time ago.

[2016-05-25 11:27] #42 closed

[2016-05-25 11:38] kerlandsson commented on #39
I'm closing this, as I understand, this behavior is now supported by providing resultAliases such as `my.localmachine.#attribute#.#key#`

[2016-05-25 11:38] #39 closed

[2016-05-25 11:42] kerlandsson commented on #38
I'm closing this due to its age and the many changes since its report.

[2016-05-25 11:42] #38 closed

[2016-05-25 14:14] #24 closed

[2016-05-25 21:04] tcrossland opened #80 "Agent fails to load configuration from opaque classpath resource"
The io.resource framework introduced in jmxtrans-agent 1.2.3 causes a load-time failure if the classpath URI is not hierarchical. For example:

[code]

[code]

[2016-05-25 21:14] cyrille-leclerc commented on #80
Thanks for the detailed report @tcrossland . I'm investigating.

[2016-05-25 21:24] cyrille-leclerc commented on #80
@tcrossland can you please give us one more details please: is `jmxtrans-config.xml` contained in a jar or is on the file system?

[2016-05-25 22:14] tcrossland commented on #80
It's in one of the jars on the classpath (i.e. it's copied from src/main/resources by maven, or in this case, SBT). The same (opaque) classpath URI works with 1.2.2 of jmxtrans-agent.

[2016-05-25 22:20] cyrille-leclerc commented on #80
Thanks @tcrossland. I have just verified that the problem does not happen with a config file on the file system :-)

I suspect that you can workaround prefixing the filename with `/`.

Can you try to reproduce with https://oss.sonatype.org/content/repositories/snapshots/org/jmxtrans/agent/jmxtrans-agent/1.2.4-SNAPSHOT/jmxtrans-agent-1.2.4-20160525.221853-2.jar

You should have a better exception m

[2016-05-25 22:24] tcrossland commented on #80
I tried using a leading `/` (`classpath:///jmxtrans-config.xml` and `classpath:/jmxtrans-config.xml`) but both failed with an NPE (I've lost the stacktrace from my terminal scrollback, also a bit late here in Spain!). In any case, no hurry, 1.2.2 is working fine.

[2016-05-26 06:28] kerlandsson commented on #80
@cyrille-leclerc I suspect the problem is at `org.jmxtrans.agent.util.io.ClasspathResource.getFile()` - AFAIK, it is not possible to create `File` objects for files that reside within a jar file. We probably will have to work with only the stream when reading configuration from within a jar.

[2016-05-26 08:01] cyrille-leclerc commented on #80
@kerlandsson good catch! I'm fixing

[2016-05-26 09:23] cyrille-leclerc commented on #80
@tcrossland I am working on a fix on my fork https://github.com/cyrille-leclerc/jmxtrans-agent/commit/8d853c872cddfd04d6928f5143df4d61f5ceb23a

I did not have the time to finish my tests but this should do the job. Would you have the time to verify?

https://oss.sonatype.org/content/repositories/snapshots/org/jmxtrans/agent/jmxtrans-agent/1.2.4-SNAPSHOT/jmxtrans-agent-1.2.4-20160526.092044-4.jar

[2016-05-26 20:24] tcrossland commented on #80
I'll try tomorrow and let you know. Thanks for the quick fix!

[2016-06-01 19:33] unixninja92 commented on #77
We are running 1.2.3 and 1.2.2.

I'm going to turn on logging and see if that helps.

[2016-06-01 20:45] unixninja92 commented on #77
So it turns out that jmxagent-trans is not the issue here, the logs show it continues to send data to influx. That data just gets lost somewhere between jmxagent-trans and influx. Let me know if you have any suggestions on things to try.

[2016-06-01 20:45] #77 closed

[2016-06-01 23:38] tcrossland commented on #80
Sorry, haven't found time to test it yet... will get round to it soon.

[2016-06-06 09:34] tcrossland opened #81 "Support for statd metric tagging"
It would be useful to be able to use statsd tags in metrics (see the Metric Tagging section [here](http://support.sysdigcloud.com/hc/en-us/articles/204376099-Metrics-integrations-StatsD-)), for example:

[code]

Currently this will be rejected by jmxtrans-agent's expression engine:

[code]

[2016-06-06 09:45] tcrossland commented on #80
Hi, finally got round to testing the snapshot version, works correctly loading classpath resources. Many thanks!

[2016-06-06 09:45] #80 closed

[2016-06-06 10:00] cyrille-leclerc commented on #81
Thanks @tcrossland,

`#` is a reserved character used by the "expression language engine". We would have to extend the "expression language engine" to support an escape character '\' so we could define `\#`

It would look like

[code]

It should not be a huge amount of work.

https://github.com/jmxtrans/jmxtrans-agent/blob/efa75a3bee4c285e8d4f44f974131d653bfeb8b8/src/main/java/org/jmxtrans/agent/E

[2016-06-06 13:47] tcrossland commented on #81
@cyrille-leclerc thanks, that seems like a reasonable approach. Let me know if I can help.

[2016-06-09 18:48] kerlandsson opened #82 "Provide bundled configuration files"
To make it easier for users to get started with jmxtrans-agent it might be helpful to provide some bundled configuration files. That would make it possible to test jmxtrans-agent without having to go through the hassle creating a configuration file. I can also imagine that for some use cases these bundled files would be good enough.

I'm thinking a configuration that polls the typical MBeans on a

[2016-06-10 07:39] cyrille-leclerc commented on #82
It's a great idea. We could reuse some default configs written for embedded-jmxtrans:
https://github.com/jmxtrans/embedded-jmxtrans/tree/master/src/main/resources/org/jmxtrans/embedded/config

Cyrille

[2016-08-08 02:59] tesseract2048 opened #84 "Use stderr for logging instead of stdout"
Logging to `stdout` could be problematic when chaining multiple programs, since in linux people usually assumes `stdout` to be actual output of a problem.

[2016-10-21 13:26] gliptak opened #87 "single line per collection rolling file writer?"
I'm considering writing a single line per collection rolling file write in the format:

key1=value1, key2=value2, key3=value3 . . .

This allows for improved parsing by Splunk (http://dev.splunk.com/view/logging-best-practices/SP-CAAADP6) and possibly by other (file based) log collectors.

Would you like this writer contributed? If so, do you have a preferred Java class name?

or would you possibl

[2016-10-22 17:47] kerlandsson commented on #87
Looking through the file output writers an idea that strikes me is to write a new `OutputWriter` called simply `FileOutputWriter` and making it a bit more generic. This writer could support both use cases that we have in the two different writers now. Then we could also add pattern support for how the results would be written, allowing us to create a pattern that writes each collection to a single

[2016-10-22 20:21] gliptak commented on #87
So would you like to see a pull request for my single line version renamed to ```FileOutputWriter``` (which is a modification of ```RollingFileOutputWriter```) as a starting point for refactoring?

I would see this in line of flags:
* overwriter vs rolling
* single vs multi

Thanks

[2016-10-22 20:23] gliptak commented on #41
What would be a good approach to backwards compatibility for a refactoring like this? When do you see deprecated being removed?

[2016-10-23 19:17] kerlandsson commented on #87
I would like to avoid adding a new file writer unless we can deprecate the old ones - otherwise we will have three to support, with a lot of duplication, and once we have added `FileOutputWriter` we can't really change how it is configured without breaking backwards compability.

If you want changes merged, I suggest that you for now add a configuration flag to the `RollingFileOutputWriter` to sup

[2016-10-23 19:24] kerlandsson commented on #41
@gliptak In my opinion, the benefits of cleaning up the directory structure are not big enough to warrant breaking existing configurations. I would suggest an approach where we try to move things that are not referenced in the configuration file and let the rest be.

[2016-10-23 19:39] cyrille-leclerc commented on #41
+1 on @kerlandsson's proposal

[2016-10-24 20:23] gliptak commented on #82
I converted the ```JSON``` files at https://github.com/jmxtrans/embedded-jmxtrans/tree/master/src/main/resources/org/jmxtrans/embedded/config to ```XML``` files (just the ```query``` lines, untested ...). Would you like me to upload them (and to where)? Thanks

[2016-11-22 13:55] #87 closed

[2016-11-24 22:55] cyrille-leclerc opened #90 "Add ElasticSearchOutputWriter"
Follow-up on the email thread "Elastichsearch output writer strategies" initiated by @zepouet .

https://groups.google.com/forum/#!topic/jmxtrans/jIyYctTW2go

It would be nice to have an ElasticSearchOutputWriter.

### ElasticSearch Data Structure

* Question: One unique Index or rolling Indexes suffixing the index by the date? If we store all the metrics in the same ElasticSearch Index, it will b

[2016-11-25 10:04] gehel commented on #90
Yes, it is perfectly reasonable. Elasticsearch clients for most languages talk to the REST API and do not use the Java based internal protocol.

Elasticsearch has an auto create mode for indices / mappings. If I remember correctly, that's even the default configuration. If the index / mapping used by jmxtrans will probably be simple enough that the auto mapping should work just fine. Explicitly cr

[2016-11-25 10:11] zepouet commented on #90
You are right. I just watched how you did with InfluxDB and it seems good to have a minimalist API.
So no hard dependencies with the product.

[2016-12-08 08:59] zepouet commented on #90
Hello,

I created a fork from your jmxtrans-agent to test the addon of Elastic
https://github.com/Treeptik/jmxtrans-agent

It is inspired by your work with Jest API (come from ElasticOutputWriter into JmxTrans) and the work from @evgeniy-khist

At the beginning I tried tu use Elastic Java Transport Client but I have a segmentation fault in JVM !
I will open a ticket at Elastic (tomorrow I must hav

[2016-12-22 16:16] BriacRONDI opened #91 "Float values causes agent to crash when sent via InfluxDbOutputWriter"
Hello Guys,

I encountered a problem with the InfluxDbOutputWriter. The floating point metrics, for example :
java.lang:type=OperatingSystem > ProcessCpuLoad
causes jmxtrans-agent to crash.

Try this :
`<query objectName="java.lang:type=OperatingSystem" attribute="ProcessCpuLoad" resultAlias="ProcessCpuLoad"/>`

You will obtain :
`WARNING [jmxtrans-agent-1] org.jmxtrans.agent.JmxTransExporter - Ig

[2017-01-18 08:14] mindkir commented on #44
jmxtrans-agent-1.2.4.jar still return all mbean attributes as counters, eg:
jmxtransagent.hostname.appname.env.OperatingSystem.ProcessCpuLoad:0.0045351473922902496|c

'java.lang:type=OperatingSystem' mbean 'ProcessCpuLoad' attribute is of Type 'double' and it should be metricType 'gauge'. Is there a way to configure this in existing jmxtrans-agent version?

[2017-01-20 12:41] mindkir commented on #44
Found answer to this. Need to add "type" property along with mbean query, eg:
<query objectName="java.lang:type=OperatingSystem" attributes="MaxFileDescriptorCount,OpenFileDescriptorCount,ProcessCpuLoad,SystemCpuLoad,SystemLoadAverage" type="gauge" resultAlias="#attribute#,mbean=%type%"/>

Might be good to add to documentation/configuration examples.

[2017-01-20 14:34] rtoma commented on #44
Hi @mindkir, feel free to submit a pr for a doc fix. I am sure @cyrille-leclerc would appreciate that.

[2017-01-20 14:56] cyrille-leclerc commented on #44
Thanks @mindkir and @rtoma.
@mindkir can you please review https://github.com/jmxtrans/jmxtrans-agent/pull/92 ?

[2017-02-14 23:10] cyrille-leclerc commented on #91
Hello @BriacRONDI , I just discover your message, I had a notification issue.

Could you capture more details? I suspect  that [`InfluxMetric.valueAsStr()`](https://github.com/jmxtrans/jmxtrans-agent/blob/jmxtrans-agent-1.2.4/src/main/java/org/jmxtrans/agent/influxdb/InfluxMetric.java#L82) could be more strict about float / decimal conversions. I see a risk with the locale of the JVM where `valueA

[2017-02-14 23:24] cyrille-leclerc commented on #84
@tesseract2048 sorry for the late answer, I discover you message, a notification issue from github. Do you still have this need?
I am thinking of a system property `-Dorg.jmxtrans.agent.JmxTransAgent.console=stderr` or an environment variable `JMX_TRANS_AGENT_CONSOLE=stderr`.

Would that make sense?

[2017-02-15 10:32] cyrille-leclerc commented on #91
I have identified a potential issue: big float values in java get formatted with an exponent

[code]
will return `1.23456789012345E8`

See https://github.com/jmxtrans/jmxtrans-agent/pull/95

[2017-02-15 11:12] cyrille-leclerc commented on #84
See https://github.com/jmxtrans/jmxtrans-agent/pull/96

[2017-02-16 01:33] tesseract2048 commented on #84
Yes. That would work.
Thanks, @cyrille-leclerc.

[2017-02-16 09:43] cyrille-leclerc commented on #91
@kerlandsson can I get your feedback on this issue and on my PR #95 ? I suspect that we should be more strict than invoking `Float.toString()` to format floats.

I found in the official java client https://github.com/influxdata/influxdb-java/blob/influxdb-java-2.5/src/main/java/org/influxdb/dto/Point.java#L321

[code]

[2017-02-16 09:54] BriacRONDI commented on #91
Thank you for working on this issue. I will test your PR as soon as possible and will give you a feedback.

[2017-02-16 09:55] cyrille-leclerc commented on #91
According to https://github.com/influxdata/influxdb-java/blob/influxdb-java-2.5/src/main/java/org/influxdb/dto/Point.java#L321

The expected string for `123_456_789.012_345 ` is `123456789.012345` and is NOT `1.23456789012345E8` as we generate today.

[2017-02-16 10:03] cyrille-leclerc commented on #91
Fix should be ready at #95

[2017-02-16 16:11] #91 closed

[2017-02-19 09:33] evmin opened #97 "writeQueryResult method update"
This is an enhancement request.

It would be so much easier to further develop the API if the OutputWriter interface method

[code]

Could be replaced with

[code]

In that case the backward incompatible changes to the API (such as including extra fields, which are required by the new Writers) would be so much easier to implement.

Happy to assist with rewriting.

[2017-02-19 14:03] cyrille-leclerc commented on #97
Hi @evmin, I trust you but I don't understand yet how it would work with indexed values... I would need to test

Rather than `deleting` the existing `writeQueryResult(...)` method, I am thinking about introducing an `OutputWriterV2` interface with this new `writeQueryResult(...)` and deprecating `OutputWriterV1` to let people have to change their code.

Could you initiate a branch as a PR?

[2017-02-19 20:45] evmin commented on #97
I might have missed the specifics of the indexed values - thank you for pointing it out.

Also, I like the v2 API idea as v2 opens up for possibility of other potential improvements:

* introducing dynamic options on Query, where any unknown to date attributes can be sources into settings like HashMap and passed onto the writers
* optimised QueryResult object

It sounds a bit more invasive though

[2017-02-20 10:41] cyrille-leclerc commented on #97
@evmin could you initiate the work on a PR? Maybe it will be the opportunity to cut a v2.0 of the plugin.

[2017-03-07 07:04] mindkir opened #98 "StatsDOutputWriter - Given data too big for the buffer size"
jmxtrans-agent-1.2.4.jar StatsDOutputWriter is indefinitelly failing with "java.nio.BufferOverflowException". It seems error was triggered by random failed DNS resolution, that caused some buffer (lim=91) to fill up.

[code]

[2017-03-08 14:20] cyrille-leclerc commented on #98
Can you please share the configuration of the outputwriter?

I suspect that you combined the host and port (`telegraf:8125`) in the same config element `host` instead of using the config element `port` for the port.

Then we have a bug/fragility in the StatsDOutputWriter that does not handle properly this configuration issue and causes BufferOverflowException.

[code]

[2017-03-08 14:32] mindkir commented on #98
Here is output writer configuration:

    <outputWriter class="org.jmxtrans.agent.StatsDOutputWriter">
        <host>telegraf</host>
        <port>8125</port>
        <metricName>jmxtransagents.${env.host.name:node}.${env.service.name:service}.${env.app.name:appname}.${envtype:poc}</metricName>
    </outputWriter>

[2017-03-08 14:44] mindkir commented on #98
Just to clarify this is not a configuration issue. Agent was running fine for few days without restart and started failing with BufferOverflowException after some IOExceptions happened.

[2017-03-16 18:04] #98 closed

[2017-03-16 18:06] cyrille-leclerc commented on #98
@mindkir can you please test https://oss.sonatype.org/content/repositories/snapshots/org/jmxtrans/agent/jmxtrans-agent/1.2.6-SNAPSHOT/jmxtrans-agent-1.2.6-20170316.180546-3.jar ?

[2017-03-17 11:18] mindkir commented on #98
@cyrille-leclerc confirmed that this version is recovering from IO exceptions and does not experience BufferOverflowException.

Test scenario:
1. Started some JVM with jmxtrans-agent enabled

2. Added firewall rule to drop DNS packets and cause java.nio.channels.UnresolvedAddressException failures

3. Checked for BufferOverflowException and monitored java.nio.HeapByteBuffer state. With new version

[2017-03-22 05:27] SubhaSrini opened #101 "Adding filter name="http-bio-8080" instead of "*" to the query in JMXtransagent.xml to obtain metrics from Globalrequestprocessor mbean doesn't give any data"
I want to get the processingTime metrics for only HTTP connector from the Globalrequestprocessor mbean. Hence I had given the query in jmxtransagent.xml like

<query objectName="Catalina:type=GlobalRequestProcessor,name=http-nio-8080" attribute="processingTime" resultAlias="tomcat.processingTime"/>

instead of

<query objectName="Catalina:type=GlobalRequestProcessor,name=*" attribute="processingTi

[2017-05-11 15:57] dd00f opened #102 "Add support for Zabbix Output Writer"
I'm a big fan of jmxtrans-agent & Zabbix, so I implemented an output writer that supports the Zabbix protocol :

    <outputWriter class="org.jmxtrans.agent.zabbix.ZabbixTcpOutputWriter">
        <host>zabbixserver</host>
        <port>10051</port>
        <serverName>myhostname</serverName>
    </outputWriter>

Hoping to integrate this change in the master branch.

[2017-05-16 18:59] dd00f opened #104 "Add support for Zabbix Discovery queries"
DiscoveryQuery : Used to discover a list of JMX beans matching a specific naming pattern.
Used with the Zabbix server.

For example, the following discovery rule :

[code]
May yield the following discovery output (formatted for readability) :

[code]

On the Zabbix side, create a "Discovery Rule" of type "Zabbix trapper"
with a "Key" that matches the result alias. You can then create "Item prototy

[2017-06-08 09:17] bodgit opened #106 "Typo in XML configuration results in lots of log noise"
I added jmxtrans-agent to a Java process (a Confluence install) and I had as part of the configuration the following small typo in the configuration:

[code]

i.e. I had `objectname` instead of `objectName`. This resulted in lots of log noise like the following:

[code]

As it tries to find the `TotalCapacity` attribute for every bean. This gets repeated every `collectIntervalInSeconds` and rapidl

[2017-06-30 11:59] leolimajr opened #107 "Support for custom properties per query (InfluxDB)"
InfluxDB has a concept of multiple fields and tags per measurement for storing time series metrics in an optimized way.

The current implementation of **[InfluxDbOutputWriter](https://github.com/jmxtrans/jmxtrans-agent/blob/master/src/main/java/org/jmxtrans/agent/influxdb/InfluxDbOutputWriter.java)** is not taking advantage of that, it is only possible to create one field value per metric with fix

[2017-06-30 12:03] gehel commented on #107
Sounds like a great idea!

[2017-06-30 12:47] Igor-Ivaniuk commented on #107
To implement these enhancements, we would need to modify jmxtrans-core as well as influxdb output writer. Does it make sense to move the discussion of the proposed changes to the main jmxtrans issues list? There are more similar issues there

[2017-06-30 13:47] cyrille-leclerc commented on #107
@Igor-Ivaniuk We unfortunately don't share code between jmxtrans, jmxtrans-agent and embedded-jmxtrans (the pros & cons to mutualize some pieces of code are not easy), jmxtrans-agent does not use jmxtrans-core.

That said, it would be valuable to initiate a thread on the mailing list to see how we can mutualize the efforts :-)

[2017-06-30 17:56] kerlandsson commented on #107
It would be awesome if we could add support for multiple fields. I haven't been working with this stuff for a long time now so I can't give the exact proposal an honest evaluation.

[2017-07-31 12:05] Tenchi2xh opened #108 "Namespacing conversion"
I was wondering if converting all the dots in a bean name (using `%name%` in the configuration) being transformed to underscores is a specific design decision?

[At this line](https://github.com/jmxtrans/jmxtrans-agent/blob/master/src/main/java/org/jmxtrans/agent/ExpressionLanguageEngineImpl.java#L143) adding the optional second parameter to `false` would keep the dots.

It made querying Graphite

[2017-08-03 18:18] kerlandsson commented on #108
I think the reasoning behind this is that when using `%name%` it is hard to know beforehand how many dots the name will contain. E.g. the bean can dynamically pull its name from a system that has no knowledge that dots are special characters for a monitoring system somewhere. Hence the dots are escaped to make it deterministic how many dots the name will contain, for example to ensure that the met

[2017-08-11 07:38] gehel commented on #108
@kerlandsson has a pretty good explanation. The idea is that we want the Graphite hierarchy to match the JMX hierarchy. A bean `name` is a single component in the JMX hierarchy, so we don't want to split it on `.` which might or might not be the intent of whoever wrote the JMX bean.

Note that internally, jmxtrans uses String to represent those hierarchies, instead of a more abstract structure. Th

[2017-08-18 06:06] liuyangc3 opened #109 "Mbean LinkedHashMap data support?"
objectName=“org.springframework.boot:type=Endpoint,name=metricsEndpoint”

type of attribute`Data` is LinkedHashMap

[2017-08-18 06:11] liuyangc3 commented on #101
on my PC, objectName is `Catalina:type=GlobalRequestProcessor,name="http-nio-8080" `
and you should use `&quot;` instadd of `'"'`  in xml
here is an example
[code]

[2017-09-01 18:28] foygl commented on #98
@cyrille-leclerc Are there plans for making an official release with this fix in it? We are seeing this issue a lot and it would be good to have an official release rather than us relying on a random snapshot build. This has been really useful for us, so keep up the good work! 🥇

[2017-09-15 18:43] dhay opened #110 "Ability to exclude/filter attributes"
In our applications, we use the Codahale/Dropwizard metrics library to publish our metrics to JMX. Rather than configure each metric, I'd like to grab everything under a particular domain.  For example, something like this:
[code]
However, because of the way the metrics are published to JMX, I end up with metrics that aren't really metrics.  For example:
[code]
What I'd really like to do is specif

[2017-09-18 11:04] cyrille-leclerc commented on #98
Released in 1.2.6

[2017-09-19 14:34] maogouste opened #111 "Problem with springboot java and jmxtrans-agent"
Hello,

I'm trying to add jmxtrans-agent to internal java with springboot application.

It's started with :

/opt/jdk1.8/bin/java -javaagent:/servers/jmxtrans-agent/jmxtrans-agent.jar=/servers/jmxtrans-agent/jmxtrans-agent.xml -Dinfluxdb_instance=dots-server_01 -Dorg.jmxtrans.agent.JmxTransAgent.diagnostic=true -Dorg.jmxtrans.agent.util.logging.Logger.level=TRACE -Djavax.net.ssl.trustStore=/etc/di

[2017-09-19 15:33] cyrille-leclerc commented on #111
The HTTP connection from jmxtrans-agent embedded in your spring boot app to influxdb fails with a socket timeout ("SocketTimeoutException: Connect timed out").

You are likely to have a firewall issue between the springboot server and the influxdb server.

Could you try a `curl http://xx.yy.zz.aa:8086` from the springboot server to verify that the network connectivity to the influxdb server is ope

[2017-09-20 08:41] maogouste commented on #111
I thank you for your fast answer.

A curl from the server produces data.

curl -G 'http://xx.yy.yy.aa:8086/query?pretty=true' --data-urlencode "db=java_db" --data-urlencode "q=SELECT mean(\"value\") AS \"mean_value\" FROM \"java_db\".\"autogen\".\"ThreadCount\" WHERE time > now() - 5m AND \"host\"='<servername>' AND \"instance\"='logstash' GROUP BY time(10s)"

retrieves :

{
    "results": [

[2017-09-20 09:01] kerlandsson commented on #111
That error should not stop the reporting, it is just a warning, and as it
says in the message, it should be ignored. What is logged after the error?
You mention that the reporting finishes, could you elaborate on that?

On Wed, Sep 20, 2017 at 10:41 AM, maogouste <notifications@github.com>
wrote:

[2017-09-20 09:14] maogouste commented on #111
says in the message, it should be ignored.

Nothing is logged after the error. But the ConsoleOutputWriter keep on
producing data.

Influxdb have one point at the start of the java. And nothing.

2017-09-20 10:01 GMT+01:00 Kristoffer Erlandsson <notifications@github.com>:

[2017-09-20 10:10] cyrille-leclerc commented on #111
@maogouste I have improved the troubleshooting messages with #112

Can you please test the jmxtrans-agent snapshot https://oss.sonatype.org/content/repositories/snapshots/org/jmxtrans/agent/jmxtrans-agent/1.2.7-SNAPSHOT/jmxtrans-agent-1.2.7-20170920.100756-1.jar and share with us the error message.

[2017-09-20 11:22] maogouste commented on #111
sept. 20 13:18:17  java[12860]: 2017-09-20 13:18:17.019 INFO [main] org.jmxtrans.agent.JmxTransAgent - Starting 'JMX metrics exporter agent: 1.2.7-SNAPSHOT' with configuration '/servers/jmxtrans-agent/jmxtrans-agent.xml'...
sept. 20 13:18:17  java[12860]: 2017-09-20 13:18:17.05 INFO [main] org.jmxtrans.agent.JmxTransAgent - PropertiesLoader: Empty Properties Loader
sept. 20 13:18:17  java[12860]:

[2017-09-20 12:04] cyrille-leclerc commented on #111
@maogouste you have a connect timeout when the JVM tries to open an HTTP socket on port 8086 to the IP xx.yy.zz.aa.

If a `curl http://xx.yy.zz.aa:8086` is successful when the JVM is not, then there may be an http proxy issue. Could you go through an http proxy when using curl but not when using java or vice versa?

Can you try to execute from the application server the following command to test a

[2017-09-20 14:13] maogouste commented on #111
It says 404

[2017-09-20 14:20] cyrille-leclerc commented on #111
I think I understood, the http connection from your java application seem to go through a Sock Proxy as you can see `java.net.SocksSocketImpl.connect` in the stack trace.

Shouldn't you exclude the ip address of your influxdb server from your jvm proxy config?

[code]

[2017-09-20 14:31] maogouste commented on #111
The jmxtrans-agent connection should pass directly. No proxy of any kind needed.

But, proxies are defined for the corporate application.

Is it possible to define our own? In this case, none?

[2017-09-28 04:55] evmin opened #113 "JDK9 - Fails with java.sql is not being available at boot class path"
JMXtrans Java Agent fails with JDK9:

`
Exception in thread "main" java.lang.reflect.InvocationTargetException
        at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
        at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMet

[2017-09-28 08:06] cyrille-leclerc commented on #113
`java.sql.Timestamp` is convenient to format dates. We can replace easily.

[2017-11-04 09:31] evmin opened #116 "Feature request: When run in GKE the GoogleWriter should use cluster identity"
Google Metric Writer should be able to source authentication token from http://metadata.google.internal when run in Google Container Engine.

Token should have preference over GOOGLE_APPLICATION_CREDENTIALS for authentication purposes.

[2017-11-07 08:56] evmin commented on #116
This has been completed. PR: https://github.com/jmxtrans/jmxtrans-agent/pull/117

[2017-11-07 15:13] jakobant commented on #81
Updated to support statsd tags, both for Sysdig and DataDog

https://github.com/jmxtrans/jmxtrans-agent/pull/118

[2017-11-07 21:58] #116 closed

[2017-12-20 08:04] simmel commented on #84
@tesseract2048 @cyrille-leclerc This can be closed.

[2017-12-20 08:42] cyrille-leclerc commented on #84
Thanks @simmel  @tesseract2048

[2017-12-20 08:42] #84 closed

[2017-12-20 09:11] simmel commented on #101
Did that solve your problem @SubhaSrini ? Can this be closed?

[2017-12-20 09:19] simmel commented on #82
Since #89 is merged this can be closed, right?

[2017-12-20 09:25] cyrille-leclerc commented on #82
Thanks @simmel , you are right

[2017-12-20 09:25] #82 closed

[2018-01-10 12:38] fwelland opened #121 "JBOSS (EAP 7.1.0) JMX Attributes disappear while running jmxtrans-agent"
I am kicking the tires on JMXTrans-agent and so far it works well for normal JVM stats collection (heap, threads, etc)  monitoring  for a JBOSS EAP 7.1.0 instance.

I have now tried to add in simple attribute data collection for a JBOSS datasource/pool.   JBOSS seems configured correctly, as when I run JMC or VisualVM (local to jboss process) I can navigate to mbeans and interrogate attributes and

[2018-01-10 14:54] alechenninger commented on #121
You might want to try adding -Djmxtrans.agent.premain.waitForCustomMBeanServer=true to your JAVA_OPTS. For explanation see: https://github.com/jmxtrans/jmxtrans-agent#delayed-startup-version--121

Does that help?

[2018-01-10 14:56] alechenninger commented on #121
If you're not using the latest SNAPSHOT you might need to use -Djmxtrans.agent.premain.delay=30 instead

[2018-01-10 15:12] fwelland commented on #121
I can try both or either.    Results pending.

Concerned that may not affect anything as when I turned on diagnostic trace the first 30 sec dump of
ManagementFactory.getPlatformMBeanServer().queryMBeans(null, null)  didn't dump in JMX roots other than the java.lang* stuff.
HOWEVER the 2nd and subsequent dumps listed the java.lang.* stuff as well as some jboss and wildfly stuff (not listed in first

[2018-01-10 15:15] alechenninger commented on #121
Jboss sets a system property programmatically in its startup sequence that controls the implementation of platform mbean server to use to be something jboss-specific. If jmxtrans initializes the platform mbean server before jboss modules sets that system property in its startup sequence, the mbean server jboss expects is not used. At best that will probably cause undefined/surprising behavior, so

[2018-01-10 15:23] fwelland commented on #121
+1

You are totally, correct!   I am on jmxtrans-agent-1.2.8-SNAPSHOT.jar.

The diagnostic trace, (w/o waitForCustomMBeanServer)  would should 'more' root mbean names on the 2nd and subsquent dumps; but never the roots 'jboss.as or jboss.as.expr'; and thus no stats.

Adding in waitForCustomMBeanServer=true caused the 2nd diagnostic trace to start dumping a ton more stuff, including the root 'jboss

[2018-01-10 23:05] alechenninger commented on #121
Awesome! :-) Glad to hear.

[2018-01-31 19:04] vigneshsenapathy opened #122 "Disable logging for JMX trans agent"
hi,

Is there a way to disable logging for JMX trans agent.

Thanks,

Vignesh

[2018-01-31 20:05] kerlandsson commented on #122
You should be able to specify the system
property -Dorg.jmxtrans.agent.util.logging.Logger.level=SEVERE to only log
the most severe error messages and disable all others.

On Wed, Jan 31, 2018 at 8:04 PM, vigneshsenapathy <notifications@github.com>
wrote:

[2018-02-01 21:57] ncolomer opened #123 "Multi-tag issue in StatsDOutputWriter"
This issue is about #118 which adds tag support to `StatsDOutputWriter`.

Looking at DogStatsD [Datagram Format](https://docs.datadoghq.com/developers/dogstatsd/#datagram-format) documentation, it appears the current implementation is not fully compatible when we declare more than one tag.

Indeed, considering the following jmxtrans-agent configuration:
[code]

We can observe that the jmxtrans age

[2018-02-01 23:00] cyrille-leclerc commented on #122
Thanks @kerlandsson . @vigneshsenapathy can we close the issue?

[2018-02-01 23:00] #123 closed

[2018-02-02 03:26] vigneshsenapathy commented on #122
@cyrille-leclerc yes we can close this

[2018-02-02 03:26] #122 closed

[2018-02-02 11:27] cyrille-leclerc commented on #122
Thanks @vigneshsenapathy

[2018-02-02 15:14] cyrille-leclerc commented on #121
@fwelland @alechenninger 1.2.8-beta-1 cut today https://github.com/jmxtrans/jmxtrans-agent/releases/tag/jmxtrans-agent-1.2.8-beta-1

[2018-02-24 19:14] ravi4j opened #126 "Flow not working with JDK 1.6"
Flow fails to initialized when running with JDK 1.6.
Is there any way to resolve the following issue with Kafka?
Caused by: java.lang.UnsupportedClassVersionError: com/flow/shaded/org/apache/kafka/common/serialization/StringSerializer : unsupported classversion 51.0

[2018-02-24 19:16] #126 closed

[2018-03-05 09:09] simmel opened #127 "Add Security Manager Policy"
Hey!

While trying to use jmxtrans-agent for Elasticsearch it seems that they enforce usage of the Java Security Manager so I had to create a short policy for jmxtrans-agent to work under Elasticsearch.

It would be nice if this is something that jmxtrans-agent could provide for it self. If I've understood it correctly you can provide it but you don't have to turn it on by default (but you can) so

[2018-03-14 13:55] leochen4891 commented on #102
I'm interested in this zabbix output writer as well.
It will help to eliminate an adapter/aggregation layer that may introduce some instability.

[2018-03-14 21:42] jrpilat commented on #81
@jakobant Are you sure that's the same functionality?  This issue describes being able to have different tags on different queries which share the same StatsDOutputWriter

[2018-03-23 11:48] fwelland opened #129 "JMXTransAgent with a jboss/wildfly and JDK 1.9 (-Xbootclasspath gone)?"
So JMXTransAgent is working quite well for my usages.  As we are pushing into moving to JDK 1.9; I've tripped upon JDK 1.9's removal of Xbootclasspath in favor of 'patch-module' or something like that.

In the JDK  1.8 era, I've been using some additional JDK_OPTS like so:

`export JAVA_OPTS="-Xbootclasspath:/opt/jboss-eap-7.1.0/modules/system/layers/base/org/jboss/logmanager/main/jboss-logmanager

[2018-04-28 19:00] raiderx opened #130 "RollingFileOutputWriter writes additional empty line when setting 'singleLine' is true"
Empty line is written after each line with metrics:

[code]

Probably, method org.jmxtrans.agent.RollingFileOutputWriter#postCollect should not write end of line to temporary file writer when signleLine is true.

I'm not sure if it is a bug. But I must ignore this empty line while parsing file with metrics.

[2018-04-28 20:58] raiderx commented on #130
I created PR #131

[2018-06-11 13:33] SachinHulawale opened #132 "Springboot application - Issue in fetching tomcat threads and datasources"
Hi,

I am using jmxtrans as a agent in java arguments and passing the jmxtrans-agent.xml for the metrics. Currently, i am getting the metrics for JVM ( JVM memory pools) But i dont see any metrics for threads and datasources. Can you please suggest for object and attributes to be used. I am using tomcat 8 server.

Please find below xml

<?xml version="1.0" encoding="UTF-8"?>
<jmxtrans-agent>
   <i

[2018-07-10 06:27] simmel opened #133 "Hinders Tomcat from starting MBeans"
I'm trying to use jmxtrans-agent with Tomcat 9 and Java 8:
[code]
and when I start tomcat via `bin/catalina.sh run` with `JAVA_OPTS="-javaagent:/local/jmxtrans-agent/bin/jmxtrans-agent.jar=/local/jmxtrans-agent/conf/jmxtrans-agent.xml"` the `Catalina` MBean doesn't come up. When I add `-Djmxtrans.agent.premain.delay=1` to `JAVA_OPTS` it starts. I've also tried with `-Djmxtrans.agent.premain.waitFo

[2018-07-27 17:32] dhay commented on #110
Another way to solve this would be to overload the `attribute` and `attributes` field such that any attributes preceded by a minus sign (-) would be excluded.  I've started a branch using this approach for a future pull request.

[2018-08-02 11:52] cyrille-leclerc commented on #110
smart idea @dhay !

[2018-10-15 20:40] SergeyAP commented on #111
Hi!
i have the same problem, but i try to use influxdb connector
jmxtrans ver -  1.2.6

Log from influxdb:

`{"log":"[httpd] 1.2.3.4 - user [15/Oct/2018:23:38:24 +0300] \"POST /write?db=db\u0026p=%5BREDACTED%5D\u0026precision=ms\u0026u=user HTTP/1.1\" 204 0 \"-\" \"Java/1.8.0_171\" 433596b6-d0ba-11e8-80e5-000000000000 146045\n","stream":"stderr","time":"2018-10-15T20:38:24.634346435Z"}
`

[2019-01-10 12:13] maxrprp opened #136 "Help with the parameters for the constructor class Invocation"
I can not understand how to fill in @Nonnull Object [] params, @Nonnull String [] signature. If you can sample these arrays.

[2019-01-10 15:46] gehel commented on #136
Do you have more context? Which class? What are you trying to do?

[2019-01-11 08:02] maxrprp commented on #136
I am trying to invoke the operation through the jmxtrans-agent.xml file using the <invocations> </ invocations> block
In this operation there are input parameters, and I do not understand how to transfer them to the invocations block. Thanks in advance for your reply.

[2019-01-14 09:48] cyrille-leclerc commented on #136
@maxrprp which class?

[2019-01-14 15:53] maxrprp commented on #136
@cyrille-leclerc public class Invocation. I need an example of a constructor fill. I can not understand how the parameters should look  @nonnull Object [] params, @nonnull String [] signature.

[2019-01-30 13:21] #136 closed

[2019-01-31 09:49] developKmv opened #138 "jmxtrans-agent.xml example with <invocations> block"
good afternoon!

Please, give some examples config file for invocation

I found, that JMX Trans can call some functions and give results.
But how I can pass parameters to function ?

&lt;jmxtrans-agent&gt;
    &lt;invocations&gt;
        &lt;invocation objectName=&quot;java.lang:type=Memory&quot; operation=&quot;gc&quot; resultAlias=&quot;jvm.gc&quot;/&gt;
    &lt;/invocations&gt;

[2019-02-08 09:27] #138 closed

[2019-02-09 20:35] raiderx commented on #130
Fixed

[2019-02-09 20:35] #130 closed

[2019-02-22 18:58] drpauldixon opened #139 "Only getting first attribute for java.lang:type=OperatingSystem"
Hello,

I have the following query:

[code]

However, only the first metric is output:

[code]

I've looked through the examples and can't find anything that looks obviously wrong. If I reverse the order of the attributes, I get whatever attribute is first in the list, but not the other(s).

I've tried versions 1.2.6 and 1.2.8 beta 1. I'm using OpenJDK 1.8 on CentOS 7.

[2019-02-22 19:12] drpauldixon commented on #139
If I change the outputWriter to  statsd: `<outputWriter class="org.jmxtrans.agent.StatsDOutputWriter">` then I do se all the metrics:

[code]

[2019-03-21 23:21] Niks1820 opened #140 "JMXTrans data to statsd comes multipe times"
JMXTrans data to statsd comes multipe times

I have a JBOSS Server configured for monitoring using statsd and jmxtrans where the queries are read from the jmxtrans xml. For a given time the stasd gets more than once data from a single node. The sample received data are

0 count Slave2.AvailableCount value 90|c
1 count Slave2.AvailableCount value 90|c
2 count Slave2.AvailableCount value 90|c
3 coun

[2019-05-09 17:16] Niks1820 commented on #140
We resolved the issue, the unique alias name was same for the field for two servers. Closing the issue.

[2019-05-09 17:16] #140 closed

[2019-05-15 15:53] cyrille-leclerc commented on #140
Thanks for the good news.

[2019-07-02 17:18] mhp0rtal opened #142 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/org/jmxtrans/agent/google/Connection.java: Line number => 261: API name => Signature:<BR> File name => src/main/java/org/jmxtrans/agent/google/Connection.java: Line number => 258: API name => Signature:<BR>

[2019-07-19 12:00] rjhontiveros commented on #121
Hi all . can someone help me to find all the Objectnames and attributes that I can use for jboss? Thank you!

[2019-07-19 13:59] cyrille-leclerc commented on #121
@rjhontiveros I like to use the "MBeans Browser" plugin of VisualVM to discover the MBeans of a server or of an application. https://visualvm.github.io/plugins.html

![](https://visualvm.github.io/images/plugins_1.png)

[2019-07-22 05:45] rjhontiveros commented on #121
Hi @cyrille-leclerc ,
Im sorry i'm just new in this kind of thing. I'm having error on this . I'm trying to connect via remotely.
![image](https://user-images.githubusercontent.com/6390311/61608842-d293af80-ac86-11e9-8249-97fe73d06c0a.png)

I set set this
CATALINA_OPTS="-Dcom.sun.management.jmxremote.port=9001 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=fal

[2019-07-22 10:33] rjhontiveros commented on #121
Hi @cyrille-leclerc ,

sorry but it is ok now. it was the firewall blocking . Thank you!

[2019-07-23 04:05] rjhontiveros commented on #121
Hi @cyrille-leclerc ,

I used the visualvm but it only showing one mbeans.
![image](https://user-images.githubusercontent.com/6390311/61681896-ebad6680-ad41-11e9-9463-7a0c4c5f27ff.png)
here is my run.conf
-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=9000 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname=hostn

[2019-07-23 13:08] cyrille-leclerc commented on #121
@rjhontiveros from what I remember, JBoss used to use a second MBean server with its own mbeans.

Many years ago, I used to use the following JSP page to introspect the MBeans from within the JVM: https://github.com/cyrille-leclerc/cyrille-leclerc/blob/master/src/main/webapp/tools/jmx/mbeans.jsp

[2019-07-24 06:24] rjhontiveros commented on #121
Hi @cyrille-leclerc ,

Thank you for this. Sorry I'm a beginner . How I will be able to run this in jboss. because in tomcat i'll just put it in webapp/ROOT . then I can be able to access it already. Thank you again!

[2019-09-12 20:39] nikhil-govind opened #143 "How do i capture springboot datasource for springboot versions before 1.5.5"
How do i capture springboot datasource for springboot versions before 1.5.5
as the hikari datasource is not available in old versions and spring jpa is not getting captured.

[2019-11-26 17:59] mike9005 opened #144 "Please post JARs for lastest three releases"
The `1.2.7`, `1.2.8` and `1.2.9` releases only have the zip and tar releases - please could the JARs for these be added to the Releases page and the latest release tag updated?

[2019-11-28 09:25] rjhontiveros opened #145 "jmxtrans-agent to use in spring boot application"
Hi, Is it possible to use this to a docker spring boot application and how? thank you!

[2020-05-05 06:49] ggrandes commented on #109
May be [pull #148] can work for you?

[2020-05-07 13:21] liuyangc3 commented on #109
Wow thanks for the reply after years :)

[2020-05-09 09:38] ggrandes commented on #109
_better late than never_ :-)

I have a similar problem with maps (without spring-boot), but this year ':-)

I thought maybe what worked for me might work for this, but I don't know :-?

[2020-05-11 15:13] cyrille-leclerc commented on #144
Fixe, see https://github.com/jmxtrans/jmxtrans-agent/releases/tag/jmxtrans-agent-1.2.7

[2020-05-11 15:18] mike9005 commented on #144
@cyrille-leclerc thank you!

[2020-05-11 15:18] #144 closed

[2020-10-09 12:41] ofauchon opened #149 "numQueryThreads parameter tuning"
Hi all,

I'm running a local jmxtrans-agent for collecting a single tomcat server metrics (**both are on the same server**).
On my setup, jmxtrans may collects hundred of technical and application metrics and send them to Graphite ( with GraphiteWriterFactory)

I have some questions regarding "numQueryThreads" parameter:

- In what situations numQueryThreads can be a bottleneck ?
- Are there guide

[2020-10-12 10:12] ofauchon commented on #149
Hi,

I just realized this issue is not in the correct project.
I'll open a new one in jmxtrans/jmxtrans project .

[2020-10-12 10:12] #149 closed

[2020-12-03 07:31] #109 closed

[2021-02-26 02:51] endoplasmicR opened #155 "Got java.lang.NoSuchMethodError: java.nio.ByteBuffer.flip() testing the version 1.2.11-rc-2"
When testing the version `1.2.11-rc-2`

We saw an exception triggered from https://github.com/jmxtrans/jmxtrans-agent/blob/master/src/main/java/org/jmxtrans/agent/StatsDOutputWriter.java#L231

The root cause is exactly https://stackoverflow.com/questions/61267495/exception-in-thread-main-java-lang-nosuchmethoderror-java-nio-bytebuffer-flip

which JDK version was used to compile and release into ma

[2021-02-28 22:46] cyrille-leclerc commented on #155
Thanks @endoplasmicR for the fix https://github.com/jmxtrans/jmxtrans-agent/commit/66c8e01991169bbb667ff5f51a766445cdbdb068

Can you please test v1.2.11-rc-3 ?

[2021-03-01 19:45] endoplasmicR commented on #155
Thanks for merging!
I have just test it again and still got the same error, i have tried a different fix and looks like it got it resolved. sending a PR now

[2021-03-01 19:54] endoplasmicR commented on #155
The fix is in PR:
https://github.com/jmxtrans/jmxtrans-agent/pull/157
this should ensure cross version compatibility

[2021-03-03 16:15] cyrille-leclerc commented on #155
Fix in https://github.com/jmxtrans/jmxtrans-agent/releases/tag/jmxtrans-agent-1.2.1

[2021-03-03 16:15] #155 closed

[2022-03-21 11:57] #106 closed

[2022-03-23 18:46] aakarshg opened #159 "Is InfluxDbOutputWriter still considered experimental?"
Hello, We are evaluating using the InfluxDbOutputWriter for our usecase. This seems to have been added around ~6 years ago https://github.com/jmxtrans/jmxtrans-agent/commit/04e48878ed43b4dde47ffa571464265d4253bdf6, and I dont see any open issues nor closed issues that mentioned problems with the writer. Is it safe to use this writer in production?

[2022-03-23 18:47] aakarshg commented on #159
Tagging @cyrille-leclerc as you seemed to be the most active contributor previously :)

[2022-03-23 21:57] cyrille-leclerc commented on #159
Hello @aakarshg , thanks for looking at the jmxtrans-agent. I have never used InfluxDB and thus never used the InfluxDbOutputWriter but the code of the InfluxDbOutputWriter looked very good and nobody reported problems so I would be confident.

Another scenario could be to instrument your application with OpenTelemetry (traces, metrics, and logs) and to export the metrics to InfluxDB using the [Op

[2022-04-01 19:38] aakarshg commented on #159
Thanks for the quick reply @cyrille-leclerc :) We require a java agent implementation for our use case so jmxtrans-agent fits the bill perfectly, only concern was around the experimental tag on the InfluxDbOutputWriter.

Closing this issue, since the question has been answered.

[2022-04-01 19:38] #159 closed

[2022-05-19 18:12] aakarshg opened #161 "How to set log level for jmxtrans-agent"
Hello, I think the default log level for jmxtrans-agent is WARN, and this creates a lot of chatter when certain MBeans arent exposed all the time. How can I set the log-level to something higher such as ERROR?

[2022-06-22 16:58] aakarshg commented on #161
hey @cyrille-leclerc gentle nudge in case you know how I can set the log level through the xml file or any other way..

[2022-08-18 10:24] alvarolop commented on #129
Hello @fwelland, did you have any progress with your issue? I'm honestly not sure about how can I debug or solve this issue. I am migrating my JVM to JDK 11 and I am facing the same issue. If someone could help, I can provide some logs, etc.

[2022-08-18 10:36] fwelland commented on #129
No.
I kinda think (but not 100% sure), JMXAgent used in this fashion, just something that does not work in JDKs > 8.

[2022-08-18 10:37] alvarolop commented on #129
And how did you workaround this issue? using plain jmxtrans? or not upgrading to JDK > 1.8?

[2022-08-18 10:47] fwelland commented on #129
We didn't, yet.

Some of the last work that was using JMX transagent in this fashion, it being migrated to JDK 11 right about now; those engineers haven't really tackled the issue yet.

Separately, I've worked on several wildfly message based processors:   Wildfly 20+ and JDK 11 or JDK 17.    Since they were greenfield and I knew about the JMXtransagent problem, I didn't even consider it as a opti

[2022-08-18 10:53] alvarolop commented on #129
Ok, it seems that we will have to look for other alternatives, too. Thank you very much!